<div class="container vh">
  <div class="row justify-content-center">
    <h2 class="mt-4 mb-4">居酒屋一覧</h2>
  </div>
  <div class="row vh100 align-items-center ">
    <% @pubs.each do |pub| %>
    <div class="col-4">
      <div class="field rounded ">
        <%= link_to pub.user.nickname, user_path(@user.id), class:"link" %><br>
        <% if pub.images.attached? %>
        <%= image_tag pub.images[0].variant(gravity: :center, resize:"250x250^") %><br>
        <% end %>
        <%= link_to pub.name, pub_path(pub.id), class:"link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>