<div class="container vh100 top-image">
  <div class="row justify-content-center align-items-center vh100">
      <p class="text-center f40">ようこそTerritoryへ！<br>
         いろいろな居酒屋を求め、<br>
         沢山の人と共有していってください！
      </p>
  </div>
</div>