<div class="container">
  <div class="row">
    <div class="col-4">
      <% @pubs.each do |pub| %>
      <div class="field">
        <%= pub.user.nickname %></br>
        <% if pub.images.attached? %>
        <%= image_tag pub.images[0].variant(gravity: :center, resize:"200x200^") %></br>
        <% end %>
        <%= pub.name %></br>
      </div>
      <% end %>
    </div>
  </div>
</div>