@use '~bootstrap/scss/bootstrap';
.navbar-nav > li > a:hover {
  color: white;
}
.bg-color{
  background-color: #1111;
}
.title-size{
  font-size: 60px;
}
.vh80{
  height: 80vh !important;
}
.text-color{
  color: white;
  background-color: #6c757d;
}
// .bg-pub{
//   background-color: #6c757d;
// }
// body{
//   height: 100vh;
// }
.vh100{
  height: 60vh;
}
.vh{
  height: 100%;
}
.f40{
  font-size: 40px;
}
.outline{
  border: 3px solid #212529;
}
.link{
  color: #ffffff;
  font-size: 30px;
  background-color: #6c757d;
}
.mb{
  margin-bottom: 2em;
}