<div class="container">
  <div class="row justify-content-left">
    <h1>会員一覧</h1>
  </div>

  <div class="row justify-content-center">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to user.nickname, admin_user_path(user.id) %>
            </td>
            <td><%= user.email %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>