<div class="pub-image vh-100">
<div class="container vh">
  <div class="row justify-content-center">
    <h2 class="mt-4 mb-4">
      ユーザー　一覧
    </h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-9">
      <table class="table mr-4 ml-4">
        <thead  class="thead-light">
          <tr>
            <th colspan="1"></th>
            <th>ユーザー名</th>
          </tr>
        </thead>

        <% @user.each do |user| %>
        <tbody class="bg-cl-tb">
          <tr>
            <td>
              <%= image_tag user.get_profile_image(100,100).processed %>
            </td>
            <td>
              <%= link_to user.nickname, user_path(user.id) %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>



  </div>
</div>
</div>