<div class="cntainer">
  <div class="row justify-content-left">
    <font size="4">
      ユーザー　一覧
    </font>
  </div>

  <div class="row justify-content-center">
    <table class="table">
      <thead  class="thead-light">
        <tr>
          <th colspan="2"></th>
          <th>ユーザー名</th>
        </tr>
      </thead>

      <tbody>
        <% @user.each do |user| %>
        <tr>
          <td>
            <%= image_tag user.get_profile_image(80,80) %>
          </td>
          <td>
            <%= user.nickname %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>