<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.get_profile_image(100,100) %>
      <%= @user.nickname %></br>
      <%= @user.self_introduction %></br>
      <%= link_to "編集", edit_user_path, class:"btn btn-success" %></br>
    </div>

    <div clas="col-md-8">
    </div>
  </div>
</div>